/* Stylizacja paska nawigacji */
body {
    background-color: rgb(24, 25, 27);
    background-image: url("assets/textures/8k_stars_milky_way.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body,
html {

    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#starfield-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#content {
    position: relative;
    z-index: 2;
    background: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    font-family: montserrat;
    text-transform: uppercase;
    background-color: silver;
    box-shadow: 0 2px 5 px rgba(49, 47, 47, 0.3);
    z-index: 3;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
}

.navbar a.active,
a:hover {
    background: rgba(87, 90, 95, 0.834);
}

.navbar a:hover {
    color: rgb(48, 28, 130);
    transition: color 0.3s ease;
    border: none;
}

.navbar-brand .logo {
    height: 70px;
    filter: drop-shadow(10px 10px 10px #555);
}

.navbar-title {
    font-family: "Rampart One", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    font-style: normal;

}

.content-wrapper {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text h1 {
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.66);
    text-transform: uppercase;
}

.overlay-text p {
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: rgba(214, 199, 199, 0.66);
}

.content-wrapper.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.content-wrapper.fade-in.show {
    opacity: 1;
}

.content-wrapper.fade-out {
    opacity: 1;
    transition: opacity 1.5s ease-out;
}

.content-wrapper.fade-out.fade {
    opacity: 0;
}

.library-content-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.container {
    text-align: center;
    color: #FFF;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.library-title {
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.66);
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin: 20px auto;
    max-width: 80%;
}

.planet-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 10% 10%;
    transition: transform 0.3s, background-color 0.3s;
    height: 15vh;
    width: 100%;
}

.planet-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

.planet-container {
    width: 60%;
    height: 60vh;
    position: relative;
    box-shadow: 0 0 50px rgba(10, 10, 10, 0.56);
}

#planet-info {
    width: 38%;
    height: auto;
    background-color: #191b1e9f;
    padding: 20px;
    color: #dcdcdc;
    border-radius: 15px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: right;
    margin-left: 20px;
    margin-bottom:10px;
}

.label {
    color: rgba(131, 125, 125, 0.742);
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 0 5px black;
    position: relative;
    cursor: pointer;
    pointer-events: auto;
}